.desktop {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .content-wrapper {
  background-color: #000000;
  width: 1440px;
  height: 1024px;
}

.desktop .content {
  display: flex;
  flex-direction: column;
  width: 566px;
  align-items: flex-start;
  gap: 8px;
  padding: 40px 56px;
  position: relative;
  top: 373px;
  left: 437px;
  border-radius: 24px;
  backdrop-filter: blur(8px) brightness(100%);
  -webkit-backdrop-filter: blur(8px) brightness(100%);
}

.desktop .frame {
  display: inline-flex;
  align-items: center;
  gap: 42px;
  padding: 12px 0px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -145px;
}

.desktop .logo-icon {
  position: relative;
  width: 169px;
  height: 174px;
}

.desktop .text {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.desktop .text-wrapper {
  position: relative;
  width: 388px;
  margin-top: -1px;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Avenir-Heavy", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 64px;
  letter-spacing: 0;
  line-height: 72px;
}

.desktop .div {
  position: relative;
  width: 388px;
  margin-top: -18px;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 72px;
}
